<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Electroshop</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag "buy" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <%=link_to "Electroshop", buy_listItems_path , {:class => "navbar-brand"}%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <%=

            if current_user == nil
              link_to "Log in", login_path, :class => "nav-link"
            else
              link_to current_user.email, profile_view_path, :class => "nav-link"

            end

          %>
        </li>
        <li class="nav-item">
          <%=link_to cart_checkout_path, :class => "nav-link" do %>
            <i class="fa fa-shopping-cart" id="cartIcon"></i>

            <%=session[:shoppingCart].length %> items(<%=@sum%>€)
          <%end %>
        </li>


      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3" id="categoriesMenu">
      <h4>Categories</h4>
      <div class="list-group">
        <% Product.distinct.pluck(:category).each do |category| %>
          <%= link_to category, buy_listItems_path(categoryName: category) %>

        <% end %>
      </div>

    </div>



    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid"  src="/assets/cover.png" width="80%" max-height="10%" alt="First slide">
          </div>

        </div>

      </div>



      <div class="row">
        <% @itemsShow.each do |prod| %>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">

              <img class="card-img-top" src="<%=prod.image_url %>" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to prod.name, buy_viewItem_path(id: prod.id) %>
                </h4>
                <h5><%=prod.price %>€ </h5>
                <p class="card-text"><%=prod.description %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        <% end %>

        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>

</div>



<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Electroshop 2019</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>