<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Electroshop</title>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "buy" %>
  <script src="/assets/buy/viewItem.js"></script>


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">



    <%=link_to "Electroshop", buy_listItems_path , {:class => "navbar-brand"}%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <%=

            if current_user == nil
              link_to "Log in", login_path, :class => "nav-link"
            else
              link_to current_user.email, profile_view_path, :class => "nav-link"

            end

          %>
        </li>
        <li class="nav-item">
          <%=link_to cart_checkout_path, :class => "nav-link" do %>
            <i class="fa fa-shopping-cart" id="cartIcon"></i>

            <%=session[:shoppingCart].length %> items(<%=@sum%>€)
          <%end %>
        </li>


      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3" id="categoriesMenu">
      <div class="list-group">
        <h4>Categories</h4>
        <% Product.distinct.pluck(:category).each do |category| %>
          <a href="#" class="list-group-item"><%=category%></a>
        <% end %>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="<%= @item.image_url %>" alt="">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
            <h3 class="card-title"><%=@item.name %></h3>
            <h4><%=@item.price %>€</h4>
            <p class="card-text"><%=@item.description %></p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
          <div class="col">
            <%= button_to 'Add to the cart', button_path, method: :post, :class => "btn btn-primary btn-lg", params: {:itemSelected => @item.id} %>
          </div>
        </div>

        </div>
    </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Description
        </div>
        <div class="card-body">
          <p><%=@item.long_description %></p>
          <hr>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Electroshop 2019</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>